html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

h1 {
  font-size: 2.027rem;
  font-weight: normal;
  margin: 0;
  padding-top: 2.027em;
  padding-bottom: 2.027em; }

h2 {
  font-size: 1.802rem;
  font-weight: normal;
  margin: 0;
  padding-top: 1.802em;
  padding-bottom: 1.802em; }

h3 {
  font-size: 1.602rem;
  font-weight: normal;
  margin: 0;
  padding-top: 1.602em;
  padding-bottom: 1.602em; }

h4 {
  font-size: 1.424rem;
  font-weight: normal;
  margin: 0;
  padding-top: 1.424em;
  padding-bottom: 1.424em; }

h5 {
  font-size: 1.266rem;
  font-weight: normal;
  margin: 0;
  padding-top: 1.266em;
  padding-bottom: 1.266em; }

h6 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 0;
  padding-top: 1.125em;
  padding-bottom: 1.125em; }
