{
  "presets": [
    "@babel/react",
    "@babel/typescript",
    ["@babel/env", { "modules": false }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-styled-components"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/react",
        "@babel/typescript",
        ["@babel/env", { "modules": "commonjs" }]
      ],
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
