{
  "presets": ["react", ["env", {"modules": false}]],
  "plugins": [
    "babel-plugin-transform-object-rest-spread",
    "babel-plugin-transform-class-properties",
    "babel-plugin-inline-import-data-uri"
  ],
  "env": {
    "development": {
      "plugins": [["babel-plugin-styled-components", {
        "displayName": true
      }]]
    },
    "test": {
      "presets": [
        "flow",
        ["env", { "modules": "commonjs" }],
        "react"
      ],
      "plugins": [
        "babel-plugin-transform-object-rest-spread",
        "babel-plugin-transform-class-properties"
      ]
    }
  }
}
