{
  "extends": ["@gssfed", "plugin:prettier/recommended", "plugin:flowtype/recommended"],
  "plugins": [
    "react",
    "flowtype",
    "eslint-plugin-import"
  ],
  "parser": "babel-eslint",
  "globals": {
    "document": false,
    "window": false
  },
  "rules": {
    "react/prefer-stateless-function": 0,
    "react/destructuring-assignment": 0,
    "react/sort-comp": 0,
    "import/prefer-default-export": 0,
    "react/jsx-one-expression-per-line": 0
  },
  "settings": {
    "import/resolver": {
      "babel-plugin-root-import": {},
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  }
}
