{
  "extends": ["@gssfed", "prettier", "plugin:flowtype/recommended"],
  "plugins": [
    "react",
    "flowtype",
    "prettier"
  ],
  "parser": "babel-eslint",
  "globals": {
    "document": false,
    "window": false
  },
  "rules": {
    "react/prefer-stateless-function": 0,
    "react/destructuring-assignment": 0,
    "react/sort-comp": 0,
    "import/prefer-default-export": 0,
    "react/jsx-one-expression-per-line": 0
  },
  "settings": {
  },
  "env": {
    "jest": true
  }
}
